{% extends "home/base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {% for post in posts %}
        {% if not forloop.first %}<hr />{% endif %}
        <div class="row home-post-row">
            <div class="col-md-5 col-xs-12"><a href="{% pageurl post %}" class="thumbnail">{% image post.main_image original class="img-rounded" %}</a></div>
            <div class="container col-md-7 col-xs-12">
                <h1><a href="{% pageurl post %}"><div class="row ">{{ post.title }}</div></a></h1>
                <div class="row">{{ post.intro }}</div>
            </div>
        </div>
    {% endfor %}
    {% for tag in tags %}
        <a href="" class="btn btn-primary btn-xs">
            <i class="glyphicon glyphicon-tag"></i> {{ tag }}                  
        </a>
    {% endfor%}
{% endblock %}
