{% extends "home/base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {{ page.body|richtext }}
    {% for post in posts %}
        <div class="row home-post-row">
            <div class="col-xs-2">{% image post.main_image fill-300x200-c100 class="img-rounded" %}</div>
            <div class="container col-xs-8 col-xs-offset-2">
                <h1><div class="row bg-primary">{{ post.title }}</div></h1>
                <div class="row">{{ post.intro }}</div>
                <div class="row">
                    <div class="pull-right">
                        {% for tag in post.tags.all %}
                            <a href=""
                            class="btn btn-primary btn-xs">
                            <i class="glyphicon glyphicon-tag"></i> {{ tag }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
