{% load wagtailcore_tags wagtailimages_tags %}

{% for post in posts %}
    {% if not forloop.first %}<hr />{% endif %}
    <div class="row home-post-row">
        <div class="col-md-5 col-xs-12"><a href="{% pageurl post %}" class="thumbnail">{% image post.main_image original class="img-rounded" %}</a></div>
        <div class="container col-md-7 col-xs-12">
            <h1><a href="{% pageurl post %}"><div class="row ">{{ post.title }}</div></a></h1>
            <div class="row"><p>{{ post.intro }}</p></div>
        </div>
    </div>
{% endfor %}
{% if posts.paginator.num_pages > 1 %}
    <nav>
    <ul class="pagination">    
        {% if posts.has_previous %}
        <li>
            <a href="?page={{ posts.previous_page_number  }}" aria-label="Previous">
                <span aria-hidden="true">&laquo; Newer</span>
            </a>
        </li>
        {% endif %}
        <li>
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}
            </span>
        </li>
        {% if posts.has_next %}
        <li>
            <a href="?page={{ posts.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo; Older</span>
            </a>
        </li>
        {% endif %}
    </ul>
    </nav>
{% endif %}
