{% load static %}
<a class="remove-vertical-paddingt" href="https://www.instagram.com/twosapear/"><img class="svg social-link instagram" src="{% static "images/social_links/instagram.svg" %}"></a>
<a class="remove-vertical-padding"" href="https://www.pinterest.com/twosapear/"><img class="svg social-link pinterest" src="{% static "images/social_links/pinterest.svg" %}"></a>
<a class="remove-vertical-padding"" href="https://twitter.com/TwosAPear"><img class="svg social-link twitter" src="{% static "images/social_links/twitter.svg" %}"></a>
<a class="remove-vertical-padding"" href="https://twitter.com/TwosAPear"><img class="svg social-link youtube" src="{% static "images/social_links/youtube.svg" %}"></a>