{% extends "home/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
    <h1>Search 
        {% if search_query %}Results for '{{search_query}}':{% endif %}
        {% if search_tag %}Results for Tag '{{search_tag}}':{% endif %}
    </h1>

    <form action="{% url 'search' %}" method="get">
        <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
        <input type="submit" value="Search">
    </form>

    {% if search_results %}
        <ul>
            {% for post in search_results %}
                {% if not forloop.first %}<hr />{% endif %}
                <div class="row home-post-row">
                    <div class="col-md-5 col-xs-12"><a href="{% pageurl post %}" class="thumbnail">{% image post.main_image original class="img-rounded" %}</a></div>
                    <div class="container col-md-7 col-xs-12">
                        <h1><a href="{% pageurl post %}"><div class="row ">{{ post.title }}</div></a></h1>
                        <div class="row"><p>{{ post.intro }}</p></div>
                    </div>
                </div>
            {% endfor %}
        </ul>

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        No results found
    {% endif %}
{% endblock %}
