@import "bower_components/bootstrap/less/bootstrap.less";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300);
@icon-font-path: "../bower_components/bootstrap/dist/fonts/";
@navbar-default-link-color: #444;
@navbar-default-bg: rgba(255, 255, 255, 0.75);
@font-size-base: 16px;
@font-family-sans-serif:  "Source Sans Pro", Helvetica, Arial, sans-serif;
@seafoam-green: #AAB593;
.main
{
    margin-top: 20px;
}

.home-post-row
{
    padding: 5px;
}

.stream-image
{
   width: 100%;
   padding: 0px; 
}

.caption_placeholder
{
    background-color: #000;
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
}

.logo
{
    margin-top: 50px;
}

hr {
    border: 0;
    height: 1px;
    width: 50%;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

p, .intro
{
    font-size: 1.5em;
    color: #444;
    line-height: 1.25em;
    margin-bottom: 1.25em;
    font-weight: 300;
}

h2
{
    font-size: 2em;
    line-height: 1.1em;
    font-weight: bold;
    color: #222;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

p, .intro, h1, h2, h3, h4, h5, .caption
{
    max-width: 720px;    
    margin-left: auto;
    margin-right: auto; 
}

h1
{
    color: #A2A2A2;
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.caption p
{
    text-align: center;
    font-style: italic;
}

p.blog_date
{
    font-weight: 100;
    font-size: 1em;
    float: left;
}

.intro
{
    margin-top: 1em;
}

.date_line
{
    max-width: 720px;
    margin: 0 auto;
    
    &:after
    {
        content:"";
        display:block;
        clear:both;
    }
}

.blog_tags
{
    float: right;
}
