{% extends "home/base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
        <div class="date_line">
            <p class="meta blog_date">{{ page.date }}</p>
            <div class="blog_tags">
                <a href="https://www.facebook.com/sharer/sharer.php?u=twosapear.com{{ page.url }}" target="_blank">
                    Share on Facebook
                </a>
                {% for tag in page.tags.all %}
                <a href="" class="btn btn-primary btn-xs">
                    <i class="glyphicon glyphicon-tag"></i> {{ tag }}                  
                </a>
                {% endfor%}
            </div>
        </div>   
    <hr>
    {% include "blog/carousel.html" with carousel_items=page.carousel_items.all only %}

    <div class="intro">{{ page.intro }}</div>

    {% if page.body %}
        <div class="body-content">
            {% include "blog/streamfield.html" with content=page.body %}
        </div>
    {% endif %}
    <div id="disqus_thread"></div>
    <script>
    /**
    * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');

    s.src = '//twosapear.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}