{% extends "common/base.html" %}

{% load wagtailcore_tags blog_tags wagtailimages_tags %}
{% get_domain as domain %}
{% block social_media_meta %}
    {% social_meta calling_page=page %}
{% endblock %}
{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
        <div class="date_line">
            <p class="meta blog_date">{{ page.date }}</p>
            <div class="share_drop_down">
                {% social_drop_down calling_page=page %}
            </div>
        </div>   
    <hr>
    {% include "blog/carousel.html" with carousel_items=page.carousel_items.all only %}

    {% if page.body %}
        <div class="body-content">
            {% include "blog/streamfield.html" with content=page.body %}
        </div>
    {% endif %}
    <hr>
    <div class="blog_tags">
        {% include "blog/blog_tags.html" with tags=page.tags.all %}
    </div>
    {% include "blog/disqus_thread.html"%}
{% endblock %}
