{% load wagtailcore_tags wagtailimages_tags %}

<div class="timed-image-series">
    <img id="img-series-{{self.id}}" width="{{ self.width }}" height="{{ self.height }}" 
        class="img-responsive img-rounded center-block {% if self.alignment == "left" %}pull-left{% endif %}"/>
    <script type = "text/javascript">
        var images = [];
        {% for image in self.images %}
            {% if self.format == "square_md" %}
                {% image image fill-400x400 as theimage %}
            {% elif self.format == "rect_lg" %}
                {% image image fill-600x400 as theimage %}
            {% else %}
                {% image image width-720 as theimage %}
            {% endif %}
            images[{{ forloop.counter0 }}] = "{{ theimage.url }}";
        {% endfor %}
        var imgSeries{{self.id}} = new Series('img-series-{{self.id}}',images);
        setInterval(function () {imgSeries{{self.id}}.displayNextImage()},{{self.interval}});
    </script>
</div>