.main
{
    margin-top: 20px;
}

.menu-item
{
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar{
  background-color:rgba(255, 255, 255, 0.75);
}

.menu-item>a
{
    color: black;
}

.home-post-row
{
    padding: 5px;
}

.stream-image
{
   width: 100%;
   padding: 0px; 
}

.caption_placeholder
{
    background-color: #000;
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
}

.logo
{
    margin-top: 50px;
}

hr {
    border: 0;
    height: 1px;
    width: 50%;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

p, .intro
{
    font-size: 1.5em;
    color: #444;
    line-height: 150%;
    margin-bottom: 24px;
    text-align: justify
}

h2
{
    font-size: 24px;
    line-height: 110%;
    font-weight: bold;
    color: #222;
    margin-top: 36px;
    margin-bottom: 6px;
}

p, .intro, h1, h2, h3, h4, h5, .caption
{
    max-width: 720px;    
    margin-left: auto;
    margin-right: auto; 
}

.caption
{
    text-align: center;
    font-style: italic;
}