.main
{
    margin-top: 20px;
}

.menu-item
{
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar{
  background-color:rgba(255, 255, 255, 0.75);
}

.menu-item>a
{
    color: black;
}

.home-post-row
{
    padding: 5px;
}

.stream-image
{
   width: 100%;
   padding: 0px; 
}

.caption
{
    background-color: #000;
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
}

.logo
{
    margin-top: 50px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}