.main
{
    margin-top: 20px;
}

.menu-item
{
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar{
  text-align: center;
}

.input-group input
[
    width: 40ps
]